<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ylivieskan Kivimiehet</title>
  <meta name="author" content="Mauno Vähä">
  <meta name="description" content="Ylivieskan Kivimiehet - Pihalaatoituksen ammattilaiset.">
  <link rel="stylesheet" href="{{ "/assets/3rd-party/css/pure-min.css" }}">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="{{ "/assets/3rd-party/css/grids-responsive-old-ie-min.css" }}">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="{{ "/assets/3rd-party/css/grids-responsive-min.css" }}">
  <!--<![endif]-->
  <link rel="stylesheet" href="{{ "/css/main.css" }}">
  <!--[if lte IE 8]>
  <script src="{{ "/assets/3rd-party/javascripts/html5shiv.min.js" }} "></script>
  <script src="{{ "/assets/3rd-party/javascripts/respond.min.js" }} "></script>
  <![endif]-->
</head>
