<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Mauno Vähä">
  <meta name="description" content="Ylivieskan Kivimiehet - Pihalaatoitukset.">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Ylivieskan Kivimiehet</title>
  <!--
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/vnd.microsoft.icon" />
  -->
  <link rel="stylesheet" href="{{ "/assets/3rd-party/css/normalize.css" }}" media="all" />
  <link rel="stylesheet" href="{{ "/assets/3rd-party/css/pure.min.css" }}" media="all" />
  <link rel="stylesheet" href="{{ "/assets/3rd-party/css/grids-responsive.min.css" }}" media="all" />
  <link rel="stylesheet" href="{{ "/assets/3rd-party/css/font-awesome.min.css" }}" media="all" />
  <link rel="stylesheet" href="{{ "/css/main.css" }}" media="all" />
  <!--[if lte IE 8]>
  <script src="{{ "/assets/3rd-party/javascripts/html5shiv.min.js" }} "></script>
  <script src="{{ "/assets/3rd-party/javascripts/respond.min.js" }} "></script>
  <![endif]-->

  <!-- TODO: Analytics -->
</head>
