* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  color: #3A4145;
  font-size: 16px;
}

html, body, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Open Sans', Helvetica, sans-serif, Arial;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* */

.site-content {
  max-width: 750px;
  margin: 60px auto;
  padding: 0px 20px;
}

.logo-holder {
  text-align: center;

  img {
    display: inline;
  }
}

.note {
  margin: 0 auto;
  max-width: 460px;

  h2 {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}