section.contact {
  .form-wrapper {
    margin: 0 auto 80px auto;
    max-width: $section-description-max-width;
    padding: 0px $content-padding;

    a {
      text-decoration: none;
      color: $gray;
      padding: 16px 0px 16px 0px;
      text-align: center;
      font-size: 22px;
      border: 1px solid $gray;
      -moz-transition: border-color .2s ease-in, color .2s ease-in;
      -o-transition: border-color .2s ease-in, color .2s ease-in;
      -webkit-transition: border-color .2s ease-in, color .2s ease-in;
      transition: border-color .2s ease-in, color .2s ease-in;

      i {
        margin-right: 12px;
      }
    }

    a:hover,
    a:focus,
    a:active {
      outline: 0;
      text-decoration: none;
      border-color: $brown; /* #138C66; */
      color: $brown;
    }
  }
}