footer {
  margin-top: 240px;
  border-top: 6px solid $brown;
  border-bottom: 12px solid $brown;
  text-align: center;
  padding: 0px $content-padding;
  background-color: $light-brown;

  img {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  p {
    margin: 0px;
    padding: 0px 0px 40px 0px;
    color: $brown;
  }

  p.copyright {
    padding: 0px;
    line-height: 24px;
    padding-bottom: 10px;
    
    small {
      color: $gray;
      font-size: 14px;

      a {
        color: $gray;

        i.fa-share {
          margin-right: 3px;
          margin-left: 2px;
        }
      }
    }
  }
}