footer {
  margin-top: 120px;
  border-top: 9px solid $brown;
  text-align: center;

  p {
    margin: 0px;
  }

  p.showcase {
    padding: 80px 0px 80px 0px;
  }

  /*
  p {
    color: $brown;
    font-size: 16px;
  }
  */
}