section.info {
  .content-half {
    min-height: $section-height / 2;
    height: 50vh;
    /* overflow: hidden; */

    .description {
      max-width: $description-max-width;
      margin: 0 auto;
      min-height: inherit;
      height: inherit;

      .table-cell {
        text-align: center;
      }
    }
  }
}