/* Section: introduction */
.introduction {
  background: #2d2b26;
  height: 100vh;
}

/* Section: references */
.references {
  background: #000;
  height: 40vh;
}

/* Section: contact */
.contact {
  background: #fff;
  height: 100vh;
}

/*
body {
  border-top: 10px solid #000;
}
*/