header {
  /*border-top: 5px solid #2d2b26;*/
  height: 100vh;
  background-color: #eceadd;
  /*
  background: url(http://bg.siteorigin.com/image/generate?color=%23eceadd&pattern=light_noise_diagonal&blend=38&intensity=10.00&noise=0.00) repeat;
  */
}

header figure {
  padding-top: 14vh;  /* 8vh; */
}

header figure img {
  display: block;
  margin: 0 auto;
}

header .description {
  color: #2d2b26;
  text-align: center;
}

/* Move to base */
.ruler { 
  margin: 40px auto 0px auto;
  background: #2d2b26;
  height: 6px;
  width: 100%;
  max-width: 500px;
}